name: CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build:
    name: Build and Test
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v4
      
      # We assume the runner has Xcode installed. 
      # In GitHub hosted runners, we can select version if needed.
      
      - name: Build Package
        run: xcodebuild build -scheme AppFoundation-Package -destination 'platform=iOS Simulator,name=iPhone 16' -quiet

      - name: Run Tests
        run: xcodebuild test -scheme AppFoundation-Package -destination 'platform=iOS Simulator,name=iPhone 16' -quiet
